.onboarding-form {
background: rgba(13, 13, 13, 0.5);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.8px);
-webkit-backdrop-filter: blur(11.8px);
border: 1px solid rgba(36, 36, 36, 1);
}

.claim-username-form {
background: rgba(13, 13, 13);
border-radius: 20px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(36, 36, 36, 1);
}

.claim-username-form-border {
  background: linear-gradient(270deg, rgb(143, 209, 255), rgb(183, 0, 255), rgb(143, 209, 255));
  background-size: 400% 400%;
  animation: gradientFlow 6s ease infinite;
  filter: blur(15px);
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}



body {
    background: #0d0d0d;
    overflow: hidden;   
}

.grain-animation {
  height: 400vh;
  width: 400vw;
  background-image: url("/public/images/noise.webp");
  animation: grain 8s steps(10) infinite;
  position: fixed;
  top: calc(50% - 200vh); 
  left: calc(50% - 200vw);
  z-index: -1;
  overflow-y:hidden
}

@keyframes grain {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(-5%, -25%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}


@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
